// skel-baseline v3.0.0-dev | (c) n33 | skel.io | MIT licensed

// Misc.
$misc: (
        z-index-base: 10000
);

// Duration.
$duration: (
        nav: 0.5s,
        transition: 0.2s
);

// Size.
$size: (
        border-radius: 4px,
        border-width: 1px,
        element-height: 3.5em,
        element-margin: 2em
);

// Font.
$font: (
        family: ('Raleway', Helvetica, sans-serif),
        family-fixed: ('Courier New', monospace),
        line-height: 2em,
        weight: 400,
        weight-bold: 700
);

// Palette.
$palette: (
        bg: #fff,
        fg: #777,
        fg-bold: #25383B,
        fg-light: #999,
        highlight: #51BAA4,
        highlight-alt: #51BAA4,
        border: rgba(144, 144, 144, 0.25),
        border-bg: rgba(144, 144, 144, 0.075),
        border2: rgba(144, 144, 144, 0.5),
        border2-bg: rgba(144, 144, 144, 0.2),
        accent1: (
                bg: #EEE,
                fg: #777,
                fg-bold: #555,
                fg-light: #bbb,
                highlight: #51BAA4,
                highlight-alt: #51BAA4,
                border: rgba(144, 144, 144, 0.25),
                border-bg: #fff,
                border2: rgba(144, 144, 144, 0.5),
                border2-bg: rgba(144, 144, 144, 0.2),
        ),
        accent2: (
                bg: #1E2832,
                fg: rgba(#fff, 0.75),
                fg-bold: #fff,
                fg-light: mix(#1E2832, #ffffff, 40%),
                highlight: #51BAA4,
                highlight-alt: #fff,
                border: transparent,
                border-bg: rgba(255, 255, 255, 0.05),
                border2: rgba(255, 255, 255, 0.5),
                border2-bg: rgba(255, 255, 255, 0.1)
        )
);