<!-- Banner -->
<section id="banner">
	<i class="icon fa-diamond"></i>
	<h2>Welcome <?php //print($this->escape($this->data[0]['username'])); 			?>!</h2>
	<p>Find your soul's watch</p>
	<ul class="actions">
		<li><a href="<?php
			print    $this->url(array(
				'controller' => 'Products',
				'action' => 'index'
			), 'default', true);
			?>" class="button big special">Browse</a></li>
	</ul>
</section>
<!-- About -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major narrow	">
			<h2>About us</h2>
			<p>We provide exclusive custom made watches from world known brands. If you can't find your soul mate in a
				watch, make one!</p>
			<br/>
			<p>Our company was founded in 2015, by engineer Bojan, and contains over 3 different watch brands so far.
				You won't find better deals than here.</p>
		</header>
		<ul class="actions">
			<li><a href="<?php
				print    $this->url(array(
					'controller' => 'About',
					'action' => 'index'
				), 'default', true);
				?>" class="button big alt">More about Bojan</a></li>
		</ul>
	</div>
</section>
<!-- Contact -->
<section id="four" class="wrapper style2 special">
	<div class="inner">
		<header class="major narrow">
			<h2>Get in touch</h2>
			<p>If you have any questions, feel free to send us a message</p>
		</header>
		<?php require_once 'contact.phtml'; ?>
		<?= $this->escape($this->msg); ?>
	</div>
</section>