@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Retrospect by TEMPLATED
/// templated.co @templatedco
/// Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
///

/* Wrapper */

.wrapper {
  @include padding(8em, 0);
  position: relative;

  > .inner {
    margin: 0 auto;
    width: 70em;
  }

  &.style1 {
    @include color(accent1);
  }

  &.style2 {
    @include color(accent2);
  }

  &.style3 {
    @include color(accent2);
    background-attachment: fixed;
    background-image: url('images/overlay.png'), url('../../images/pic11.jpg');
    background-size: cover;
  }

  @include breakpoint(large) {
    @include padding(6em, 0);

    > .inner {
      width: 65em;
    }
  }

  @include breakpoint(medium) {
    @include padding(5em, 3em);

    > .inner {
      width: 100%;
    }
  }

  @include breakpoint(small) {
    @include padding(3em, 2em);
  }

  @include breakpoint(xsmall) {
    @include padding(2em, 1em);
  }
}