@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

///
/// Retrospect by TEMPLATED
/// templated.co @templatedco
/// Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
///

/* Main */

#main {
  @include padding(5em, 0);

  @include breakpoint(large) {
    @include padding(4em, 0);
  }

  @include breakpoint(medium) {
    @include padding(3em, 0);
  }

  @include breakpoint(small) {
    @include padding(2em, 0);
  }
}