<div class="post">
	<h2 class="title"><a href="#"><?php print $this->title; ?> </a></h2>
	<div class="entry">
		<p><?php print $this->escape($this->content); ?></p>
	</div>
	<p class="meta">Posted by <a href="#"><?php print $this->username; ?></a><?php
		print $this->datum; ?>
		&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#"
																								class="permalink">Full
			article</a></p>
</div>