<?php
require_once 'Zend/Loader.php';
Zend_Loader::loadClass('Zend_Soap_Client');
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Baza lekova</title>
	<link rel="stylesheet" href="css/TableCSSCode.css">
	<script>
		function hide($name) {
			document.getElementById($name).style.display = "block";
		}
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container" style="margin:0 auto;width:800px;">
	<?php
	$opcije = array(
		'location' => 'http://api/api/soap',
		'uri' => 'http://api/api/soap',
	);
	try {
		$klijent = new Zend_Soap_Client(null, $opcije);
		?>
		<div class="container">
			<div class="row">
				<form action='' method="post" name="forma">
					<input type="radio" name="api" value="svi"/>Prikaži sve lekove</br>
					<input type="radio" name="api" value="ponazivu" onclick="hide('ByName')"/> Pretraga po imenu
					leka<br/>
					<input type="text" size="20" style="display: none;" name="poimenu" id="ByName" placeholder="Uneti
naziv"/>
					<input type="radio" name="api" value="sve"/>Prikaži sve kategorije lekova</br>
					<input type="radio" name="api" value="dodajlek" onclick="hide('unos')"/> Dodaj lek<br/>
					<div id="unos" style="display: none;">
						<input type="text" size="20" name="nazivleka" placeholder="Uneti naziv leka"/>
						<input type="text" size="20" name="nazivprojzvodjaca" placeholder="Uneti naziv projzvodjaca"/>
						<input type="text" size="20" name="cenaleka" placeholder="Uneti cenu leka"/>
						<select name="nazivkategorije">
							<?php
							$projekcije = $klijent->kategorije();
							foreach ($projekcije as $sp => $value) {
								echo "<option value=" . $value['id'] . ">" . $value['naziv'] . "</option>";
							}
							?>
						</select>
					</div>
					<input type="radio" name="api" value="dodajkategoriju" onclick="hide('kat')"/> Dodaj kategoriju<br/>
					<input type="text" size="20" style="display: none;" name="unoskat" id="kat" placeholder="Uneti naziv
kategorije"/>
					<input type="radio" name="api" value="prepokategoriji" onclick="hide('fff')"/> Pretrazi lekove po
					kategorijama <br/>
					<select id="fff" style="display: none;" name="nazivkategorije1">
						<?php
						$projekcije = $klijent->kategorije();
						foreach ($projekcije as $sp => $value) {
							echo "<option value=" . $value['id'] . ">" . $value['naziv'] . "</option>";
						}
						?>
					</select>
					<input type="submit" name="btnSubmit" value="Prikaz" class="btn btn-primary"/>
				</form>
				<div class="CSSTableGenerator">
					<?php
					if (isset($_REQUEST['btnSubmit'])) {
						print " <table> ";
						$radio = $_REQUEST['api'];
						if ($radio == "svi") {
							$projekcije = $klijent->lekovi();
							print "<tr><th>ID</th><th>Ime leka</th><th>Projzvodjac</th><th>Cena</th></tr>";
							foreach ($projekcije as $sp => $value) {
								print "<tr>";
								print "<td>" . $value['id'] . "</td><td>" . $value['naziv'] . "</td><td>" . $value['projzodjac'] .
									"</td><td>" . $value['cena'] . "</td>";
								print "</tr>";
							}
						}
						if ($radio == "sve") {
							$projekcije = $klijent->kategorije();
							print "<tr><th>ID</th><th>Naziv kategorije</th></tr>";
							foreach ($projekcije as $sp => $value) {
								print "<tr>";
								echo "<td>" . $value['id'] . "</td><td>" . $value['naziv'] . "</td>";
								print "</tr>";
							}
						}
						if ($radio == "ponazivu") {
							$naziv = $_REQUEST['poimenu'];
							$projekcije = $klijent->ponazivu($naziv);
							print "<tr><th>ID</th><th>Ime leka</th><th>Projzvodjac</th><th>Cena</th></tr>";
							foreach ($projekcije as $sp => $value) {
								print "<tr>";
								print "<td>" . $value['id'] . "</td><td>" . $value['naziv'] . "</td><td>" . $value['projzodjac'] .
									"</td><td>" . $value['cena'] . "</td>";
								print "</tr>";
							}
						}
						
						
						if ($radio == "prepokategoriji") {
							$naziv = $_REQUEST['nazivkategorije1'];
							$projekcije = $klijent->pokat($naziv);
							print "<tr><th>ID</th><th>Ime leka</th><th>Projzvodjac</th><th>Cena</th></tr>";
							foreach ($projekcije as $sp => $value) {
								print "<tr>";
								print "<td>" . $value['id'] . "</td><td>" . $value['naziv'] . "</td><td>" . $value['projzodjac'] .
									"</td><td>" . $value['cena'] . "</td>";
								print "</tr>";
							}
						}
						if ($radio == "dodajlek") {
							$naziv = $_REQUEST['nazivleka'];
							$nazivprojzvodjaca = $_REQUEST['nazivprojzvodjaca'];
							$cenaleka = $_REQUEST['cenaleka'];
							$nazivkategorije = $_REQUEST['nazivkategorije'];
							$data = array(
								"id_kategorije" => $nazivkategorije,
								"naziv" => $nazivprojzvodjaca,
								"projzvodjac" => $nazivprojzvodjaca,
								"cena" => $cenaleka,
							);
							$projekcije = $klijent->dodajlek($data);
							if ($projekcije == 1) {
								echo 'Uspesno ste dodali lek';
							} else {
								echo 'Neuspesno dodavanje pokusajte ponovo';
							}
						}
						if ($radio == "dodajkategoriju") {
							$naziv = $_REQUEST['unoskat'];
							$projekcije = $klijent->dodajkat($naziv);
							if ($projekcije == 1) {
								echo 'Uspesno ste dodali kategoriju';
							} else {
								echo 'Neuspesno dodavanje pokusajte ponovo';
							}
						}
						print "</table>";
					}
					?>
				</div>
			</div>
		</div>
		<?php
	} catch (SoapFault $ex) {
		print 'ERROR[' . $ex->faultcode . ']' . $ex->faultstring;
	} catch (Exception $ex) {
		print 'ERROR:' . $ex->getMessage();
	}
	?>
</div>
</body>
</html>