<section id="three" class="wrapper style1 special" style="background-color:#ccc; min-height: 1000px;">
	<div style="width: 800px; margin:0 auto;">
								<span class="brandlink" style="float:left;"><a style="color: #444;" method="post"
																			   href="<?php
																			   print    $this->url(array(
																				   'controller' => 'Products',
																				   'action' => 'index',
																				   'brandid' => "0"
																			   ), 'default', true);
																			   ?>">&Sub;All&Sup;</a>
								</span>
		<?php foreach ($this->brands as $brand): ?>
			<span class="brandlink" style="float:left;"><a style="color: #888;" method="post" href="<?php
				print    $this->url(array(
					'controller' => 'Products',
					'action' => 'index',
					'brandid' => "{$brand['brandid']}"
				), 'default', true);
				?>"><?php print    $brand['name'] ?></a>
												</span>
		<?php endforeach; ?>
		<div style="clear:both;"></div>
		<?php foreach ($this->paginator as $product): ?>
			<div class="item">
				<div>
					<img height="200px" width="200px" src="<?php print    $product['image']; ?>"/>
					<h2><?php print    $product['name']; ?></h2>
					<h5><?php print    $product['brand']; ?></h5>
					<p style="font-weight:bold;">Price: <?php print    $product['price']; ?> $</p>
					<p><?php print    $product['description'] ?></p>
					<i style="cursor: pointer;" class="comments"
					   id="<?php print    $product['productid']; ?>">Comments</i>
				</div>
			</div>
		<?php endforeach; ?>
		<div style="clear:both;"></div>
		<div style="display:inline-block;font-size:30px;">
			<?php
			echo $this->paginationControl($this->paginator, 'Sliding', '_pagination.php');
			?>
		</div>
		<br/>
		<span class="titlecomments" style="display:none;"><i>Comments:</i></span>
		<?php foreach ($this->products as $product): ?>
			<div id="<?php print    $product['product']['productid']; ?>comments" class="hiddencomments"
				 style="width: 800px; margin:0 auto; display:none;">
				<?php if (empty($product['comments'])): ?>
					<p>There are no comments for this watch.</p>
				<?php endif; ?>
				<?php foreach ($product['comments'] as $comment): ?>
					<h5><?php print    $comment['fullname']; ?> -<i> Posted: <?php print    $comment['created']; ?></i>
					</h5>
					<p><?php print    $comment['comment']; ?></p>
				<?php endforeach; ?>
			</div>
		<?php endforeach; ?>
		<?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
			<div class="titlecomments" style="display:none;">
				<hr/>
				<h4>Add a comment</h4>
				<?php
				$hidden = new    Zend_Form_Element_Hidden('hiddenId');
				$hidden->setAttrib("class", "hidden");
				$this->insertCommentForm->addElement($hidden);
				print    $this->insertCommentForm;
				?>
			</div>
		<?php endif; ?>
		<?php print    $this->msg; ?>
	</div>
</section>
<script type="text/javascript">
	$(function () {
		$(".comments").click(function () {
			var id = $(this).attr("id");
			if ($("#" + id + "comments").is(':visible')) {
				$(".titlecomments").hide();
				$("#" + id + "comments").hide();
				$(".hidden").attr('value', '0');
			} else {
				$(".hiddencomments").not("#" + id + "comments").hide()
				$(".titlecomments").show();
				$("#" + id + "comments").show();
				$(".hidden").attr('value', id);
			}
		});
	});
</script>