@import "compass/css3";

/*==========  Styles  ==========*/

// Scaffolding
body {
  background-color: #dcdcdc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: lighten(#232E39, 40%);
}

.item {
  margin: 40px;
  width: 300px;
  padding: 10px;
  float: left;
}

h2 {
  text-transform: uppercase;
}

.rr > div {
  text-align: center;
}

// Construct the rectangles
.rr {
  position: relative;
  height: 200px;
  background: #232E39;
  &.rr-left {
    z-index: 1;
    float: left;
    width: 50% + 5%; // + 5% adjustment for slant offset
  }
  &.rr-right {
    z-index: 2;
    float: right;
    width: 50% - 1% - 5%; // - 5% adjustment for slant offset
  }
}

// Add slanted edges
.rr:after,
.rr:before {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}

.rr-left:after {
  right: 0;
  border-left: 100px solid #232E39;
  border-bottom: 200px solid #dcdcdc;
}

.rr-right:before {
  left: -100px;
  border-right: 100px solid #232E39;
  border-top: 200px solid rgba(0, 0, 0, 0); // overlaps .rr-left
}

// Add padding around inner content
.rr-left > div {
  margin-right: 100px;
  margin-left: 100px/2;
}

.rr-right > div {
  margin-right: 100px/2;
  margin-left: 100px/4;
  background-color: #232E39;
}

// Hover styles
.rr:hover {
  background: darken(#232E39, 10%);
}

.rr-left:hover:after {
  border-left-color: #232E39-hover;
}

.rr-right:hover:before {
  border-right-color: #232E39-hover;
}