<section id="banner" class="wrapper style1 special">
	<h2>Here you can change your account settings</h2>
	<?php
	if ($this->logtext === 'Login') {
		print "Please log in to your account or <a href='" . $this->url(array(
				'controller' => 'Login',
				'action' => 'register'
			), 'default', true) . "'>register</a> here.";
	}
	?>
	<h2><a href='<?= $this->escape($this->loglink); ?>'><?= $this->escape($this->logtext); ?></a></h2>
</section>