<?php print    $this->doctype(); ?>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<?php
print    $this->headTitle();
print    $this->headLink();
print    $this->headScript();
$auth = Zend_Auth::getInstance();
$isLogged = $auth->hasIdentity();
$loggedUser = $auth->getIdentity();
?>
<style>
	dl {
		display: inline-block;
	}
</style>
</head>
<body class="landing">
<header id="header" class="alt">
	<h1><a href="<?php
		print    $this->url(array(
			'controller' => 'Index',
			'action' => 'index'
		), 'default', true);
		?>">Watch shop</a></h1>
	<a href="#nav">Menu</a>
</header>
<nav id="nav">
	<ul class="links">
		<?php
		foreach ($this->links as $link) {
			if ($link['controller'] == 'Service' && !$isLogged) {
				continue;
			}
			print    ("<li><a href='" . $this->baseUrl() . "/" . $link['controller'] . ($link['action'] == 'index' ? "" : "/" . $link['action']) . "'>" . $link['name'] . "</a></li>");
		}
		if ($isLogged) {
			print    ("<li><i><a href='" . $this->baseUrl() . "/Login/logout'>Logout</a></i></li>");
		}
		if ($isLogged && intval($loggedUser->getRoleid()) === ROLE_ADMIN) {
			print    ("<li><a href='" . $this->baseUrl() . "/Admin'>Administration</a></li>");
		}
		?>
	</ul>
</nav>
<?php echo $this->layout()->content; ?>
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li><a target="_blank" href="http://www.facebook.com/boradbo" class="icon fa-facebook">
					<span class="label">Facebook</span>
				</a></li>
			<li><a target="_blank" href="https://rs.linkedin.com/in/bojanradakovic" class="icon fa-linkedin">
					<span class="label">LinkedIn</span>
				</a></li>
			<!--public/docs-->
			<li><a target="_blank" href="docs/Dokumentacija.pdf">
					<span class="label">Dokumentacija</span>
				</a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Bojan Radaković</li>
		</ul>
	</div>
</footer>
</body>
</html>
