<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major narrow	">
			<h2>About Bojan (me)</h2>
			<p>I am from Kotež, Belgrade. I am 22 years-young, and I have bachelor's degree, vocational engineer of
				electrical and computer engineering.</p>
			<p></p>
			<br/>
			<i>''Our company was founded in 2015, by engineer Bojan, and contains over 3 different watch brands so far.
				You won't find better deals than here.''<br/>- former secretary; current CEO of NASA</i>
		</header>
		<b>
			Contact email: bojan.radakovic.1066.15@ict.edu.rs
		</b>
	</div>
</section>