<script>
	$(document).ready(function () {
		$(".deleteUser").click(function () {
			var userid = "userid=" + $(this).children('span').text();
			console.log(userid);
			$.ajax({
				type: "POST",
				url: "Admin/deleteUser",
				data: userid,
				cache: false,
				success: function (html) {
					$("#display").html(html).show();
				}
			});
		});
	});
</script>
<section id="three" class="wrapper style1 special" style="min-height: 1000px">
	<div style="margin:0 auto;width:700px;">
		<?= $this->escape($this->msg); ?>
		<h2>Users:</h2>
		<form>
			<table>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Password</th>
					<th>Full name</th>
					<th>Email</th>
					<th></th>
				</tr>
				<?php foreach ($this->allUsers as $user): ?>
					<tr>
						<td class="userid"><?php print    $user->getUserid(); ?></td>
						<td><?php print    $user->getUsername(); ?></td>
						<td><?php print    $user->getPassword(); ?></td>
						<td><?php print    $user->getName() . " " . $user->getLastname(); ?></td>
						<td><?php print    $user->getEmail(); ?></td>
						<td>
							<button class="deleteUser">Delete
																																<span
																																	style="display:none;"
																																	value="<?php print    $user->getUserid(); ?>"><?php print    $user->getUserid(); ?></span>
							</button>
						</td>
					</tr>
				<?php endforeach; ?>
			</table>
		</form>
	</div>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUser">
		Add user
	</button>
	<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="addUserLabel" style="float:left;">Add user</h4>
				</div>
				<div class="modal-body">
					<?php print    $this->addUserForm; ?>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<hr/>
	
	<!-- BRANDS -->
	<h2>Brands</h2>
	<div style="width:800px;text-align: left; margin:0 auto;">
		<?php print    $this->tableBrands; ?>
	</div>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addBrand">
		Add brand
	</button>
	<div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" style="float:left;">Add brand</h4>
				</div>
				<div class="modal-body">
					<?php print $this->formBrands; ?>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<hr/>
	<!-- END BRANDS -->
	
	<!-- PRODUCTS -->
	<h2>Products</h2>
	<div style="width:800px;text-align: left; margin:0 auto;">
		<?php print    $this->tableProducts; ?>
	</div>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addProduct">
		Add watch
	</button>
	<div class="modal fade" id="addProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" style="float:left;">Add watch</h4>
				</div>
				<div class="modal-body">
					<?php print $this->formProducts; ?>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<hr/>
	<!-- END PRODUCTS -->
	
	<!-- MENU LINKS -->
	<h2>Menu links</h2>
	<div style="width:800px;text-align: left; margin:0 auto;">
		<?php print    $this->tableLinks; ?>
	</div>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addLink">
		Add menu link
	</button>
	<div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" style="float:left;">Add menu link</h4>
				</div>
				<div class="modal-body">
					<?php print $this->addLinkForm ?>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<br/><br/>
	<hr/>
	<!-- END MENU LINKS -->
	
	
	<!-- Button trigger modal ------------------------------------------------------------------>
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Launch demo modal
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel" style="float:left;">Modal title</h4>
				</div>
				<div class="modal-body">
					...ovde ide formular...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</section>